doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title File List
  body
    h1 File List
    ul
      each file in fileList
        li= file.name